@import url(http://fonts.googleapis.com/css?family=PT+Mono);

body {
  margin: 50px 0px;
  padding: 0px;
  font-family: 'helvetica', 'PT Mono', sans-serif;
  color: #2e3436;
  background-color: #fff;
}

#Content {
  width: 960px;
  margin: 0px auto;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 10px;
  margin-bottom: 5px;
}
