@import url(http://fonts.googleapis.com/css?family=Fugaz+One);

.tasks {
  color: #262626;
}

.task {
  cursor: pointer;
}

.task:hover {
  background-color: #dfdfdf;
}

.meta {
  display: none;
}

.tag {
  color: blue;
  background-color: #d4d4ff;
  border: 1px solid blue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
}

