.tasks {
  color: #262626;
}

.task {
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 2px;
  border: 1px solid #babdb6;
  background-color: #eeeeec;
}

.task:hover {
  border: 1px solid gray;
  background-color: #dfdfdf;
}

.meta {
  padding-top: 10px;
  padding-bottom: 5px;
}

.meta label {
  text-shadow: 1px 1px 1px #fff;
}

.status {
  display: inline;
  margin: 2px;
}

.description {
  display: inline;
  padding-left: 5px;
  margin: 2px;
}

.meta {
  display: none;
}

.project {
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
}

.annotations {
  padding-top: 10px;
  padding-bottom: 10px;
}

.annotation {
  background-color: #eeeeec;
  border: 1px solid #888a85;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

.tags {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tag {
  color: blue;
  background-color: #d4d4ff;
  border: 1px solid blue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

